
<div class="container">
  <div class="row">

       <div class="card">
         <div class="col-md-6">

        <img src="<%=persons.Image%>" width="500px" height="250px"class="rounded float-left" alt="images">
<ul class="list-group">

</div></div>

<div class="card">
  <div class="col-md-6">
        <li class="list-group-item disabled"><%=persons.City%></li>
        <li class="list-group-item">Class:<%=persons.Class%></li>
        <li class="list-group-item">Price:<%=persons.Price%></li>
        <li class="list-group-item">Quota left:<%=persons.Quota%></li>
        <li class="list-group-item">Valid till:<%=persons.Deal%></li>
        <li class="list-group-item">Dates<%=persons.daterange%></li>
      </ul>
</div></div>

</div>
</div>
